# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Conda environments
.conda/

# Environment variables and secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Machine Learning files
models/
logs/

# Environment files
.env

embeddings/
vector_store/index.faiss
